@model IEnumerable<TBay.Models.Item>
    @{
    ViewData["Title"] = "Shoes";
}
 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3" style="background-color: black;">
            <div class="container" style="background-color: black;" >
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="background-color: black;">
                    <ul class="navbar-nav flex-grow-1" style="background-color: black;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:larger;font-weight:bold;"
                               asp-area="" asp-controller="Item" asp-action="Shoes"><div style="color: white;">Shoes</div></a>
                        </li>
                        &ensp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:larger;font-weight:bold;"
                               asp-area="" asp-controller="Item" asp-action="Dresses"><div style="color: white;">Dresses</div></a>
                        </li>   &ensp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:larger;font-weight:bold;"
                               asp-area="" asp-controller="Item" asp-action="Jeans"><div style="color: white;">Jeans</div></a>
                        </li>   &ensp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:larger;font-weight:bold;"
                               asp-area="" asp-controller="Item" asp-action="Sunglasses"><div style="color: white;">Sunglasses</div></a>
                        </li>  &ensp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:larger;font-weight:bold;"
                               asp-area="" asp-controller="Item" asp-action="Bags"><div style="color: white;">Bags</div></a>
                        </li>  &ensp;
                    </ul>
                </div>
            </div>
        </nav>
<div style="text-align: center;">
                <h2>Shoes</h2>
</div>

@foreach(var item in Model)
{
            @if(item.Category=="Shoes")
            {
<div style="text-align: center;">
    <img src="~/pictures/@item.Picture"
         height="240" width="150"
         asp-append-version="true" />

    <p> <a asp-action="Details" asp-route-id="@item.ItemsID"> @Html.DisplayFor(modelItem => item.Name) </a></p>

    <p> @Html.DisplayFor(modelItem => item.Price) dollars</p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {

        <p>
            <a asp-action="Edit" asp-route-id="@item.ItemsID">Измени</a> |
            <a asp-action="Delete" asp-route-id="@item.ItemsID">Избриши</a>
        </p>
    }

    </div>  
            } 
    
        }